/*Your styles*/

body {
    -ms-overflow-style: none !important;    /* IE, Edge 対応 */
    scrollbar-width: none !important;       /* Firefox 対応 */
    min-width: 50px !important;
}

body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none !important;
}


#content {
    width:100%;
    user-select: none;
}


/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor{}
.hostFontFamily{}
.hostFontSize{}

/*font family, color and size*/
.hostFont{}
/*background color*/
.hostBgd{}
/*lighter background color*/
.hostBgdLight{}
/*darker background color*/
.hostBgdDark{}
/*background color and font*/
.hostElt{}


.hostButton{
    border:1px solid;
    border-radius:2px;
    height:20px;
    vertical-align:bottom;
    font-family:inherit;
    color:inherit;
    font-size:inherit;
}